<html>
    <head>
        <title>pratice html</title>
       <link rel="stylesheet" href="Demo.css">
     </head>
     <body>
       <div class="container">
        <div class="scroll-container">
            <div class="scroll-text">
        
       welcome to subbu's photography</div></div>
       <h1>webapplication</h1> 
        <img src="C:\Users\nimma\OneDrive\Pictures\MicrosoftTeams-image.png"> <br>
        <a href =https://hiscopehydranaturals.com/#contact>  page link</a>
   
    <p>
        This is a<span style="color:blue"> login page  </span>of my application
    </p>
     
    <form>
        <h3> Application Form</h3>
       Full Name:<input type="text" name="name" > <br> <br>
       Email Address:<input type="email" name="email"> <br> <br> 
       Phone Number:<input type="tel" name="phone"> <br> </br>
       Address:<input type="address" name="address" > <br> <br>    

       <input type="submit" value="submit"> 
    </form>

   <form>
        <h3> login Page</h3>
         User Name:<input type="text" name="name" > <br> <br>
       Password :<input type="password" name="password"> <br> <br> 
       Conform Password :<input type="password" name="password"> <br> </br>

    </form>
     </body>

   
    <!-- <button>login</button> -->
</html>