<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="footer.css">
    <footer class="footer">
    <div class="footer-container"> 
       <div class="footer2">
         <h3>Trinetra Artistrty</h3>
         <P>
            styled to shine,captured forever.
         </P>
       </div>

        <div class="footer3">
             <h5>QUICK LINKS</h5>
             <ul>
                <li><a href="#">Portfolio</a></li>
                <li> <a href="#"> About</a></li>
                <li> <a href="#"> Services</a></li>
                <li> <a href="#"> Contact</a></li>
             </ul>
        </div>
        <div class="footer4">
        <h4>FOLLOW ME</h4>
        </div>
        
    </div>
</footer>
</html>