<!DOCTYPE html>
<html>
<head>
    
      <link rel="stylesheet" href="header.css">
   
    <nav class="navbar">
        <div class="logo"> Trinetra Artistry Photography&makeup</div>
        
        <a href="#" >PORTFOLIO</a>
        <a href="#"> ABOUT</a>
        <a href="#"> SERVICES</a>
        <a href="#"> CONTACT</a>
        <button > BOOK A SESSION</button>
         

    </nav>

<!-- <div class="mainimage">
<img src="C:\Users\nimma\Downloads\bridal-shoot-4-scaled.webp"> </div>
     -->

</head>


</html>