<!DOCTYPE html>
<html>
<head>
    <title>Trinetra photography Page</title>
      <link rel="stylesheet" href="Homepage.css">
      <link rel="html" href="header.html">
     <!-- <div class="scroll-container">
            <div class="scroll-text">
        
        subbu's photography page</div></div> -->
       
   
    <!-- <nav class="navbar">
        <div class="logo"> Trinetra Artistry Photography&makeup</div>
        
        <a href="#" >PORTFOLIO</a>
        <a href="#"> ABOUT</a>
        <a href="#"> SERVICES</a>
        <a href="#"> CONTACT</a>
        <button > BOOK A SESSION</button>
         

    </nav> -->

<div class="mainimage">
<img src="C:\Users\nimma\Downloads\bridal-shoot-4-scaled.webp"> </div>
    

</head>

<body>
    </body>
     <!-- <footer>
    <nav class="navbar2">
  <div class="title">trinerta</div>
    <h3>Trinetra Photography&makeup</h3>
    <p>
        where beauty is created <br>
        and moments are captured
    </p>
   
</nav>
</footer> -->
<!-- <footer class="footer">
    <div class="footer-container"> 
       <div class="footer2">
         <h3>Trinetra Artistrty</h3>
         <P>
            styled to shine,captured forever.
         </P>
       </div>

        <div class="footer3">
             <h4>QUICK LINKS</h4>
             <ul>
                <li><a href="#">Portfolio</a></li>
                <li> <a href="#"> About</a></li>
                <li> <a href="#"> Services</a></li>
                <li> <a href="#"> Contact</a></li>
             </ul>
        </div>
    </div>
</footer> -->

</html>