<!DOCTYPE html>
<html>
<head>
  <title>JavaScript Data Types</title>
</head>
<body>

<h2>JavaScript Data Types Demo</h2>

<script>
  // String
  let greeting = "Hello";
  console.log(greeting);

  let name="prasanna";
  console.log(name);
  
  let electronics="laptop";
  console.log(electronics);
  let furniture ="table";
  console.log("furniture");

  // Number
  let age = 25;
  let isalive = true;
  console.log(age);
  const rank = 1;
  console.log(rank)
  




  // Boolean
  let isStudent = true;
  console.log(isStudent);
  let isAdmin = true;
  console.log(isAdmin);

  // Undefined
  let city;
  console.log(city);
  /* let name;
  console.log(name); */

  // Null
  let phoneNumber = null;
  console.log(phoneNumber);

  let value= null;
  console.log(value);
</script>

</body>
</html>